DATABASE_URL="postgresql://usuario:senha@localhost:5432/interessados_novo_tempo?schema=public"
AUTH_SECRET="troque-este-segredo-em-producao"
DATASET_DIR="../dataset"
ML_RANKING_PATH="../dataset/ranking_nao_vip_ml_pandas.csv"
ALUNOS_DATA_PATH="../dataset/alunos.json"
